<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        {% include disqus.html %}

        <!-- <h2>More Posts</h2>
          <ul>
          {% for post in site.posts %}
            <div class="post m12">
              <a href="{{ post.url }}" class="post-link">
              <h4 clas="post-title">{{ post.title }}</h4>
              </a>
            </div>
          {% endfor %}
          </ul>-->
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
